$color-text: #333333;
$color-link: #ff00ff;
$color-border: #222222;
$red: #ff0000;

// Nomes específicos criados a partir desses nomes-base

$color-text
$color-text-lightest
$color-text-light
$color-text-dark
$color-text-darkest

// Em Português

$cor-texto
$cor-texto-mais-clara
$cor-texto-clara
$cor-texto-escura
$cor-texto-mais-escura

// MAIS EXEMPLOS

$red
$red-lightest
$red-light
$red-dark
$red-darkest

$border-width
$border-width-1
$border-width-2
$border-width-3