$cor-alerta: #ff0000;
$cor-background: black;
$cor-texto: #0f0;
$font-size-base: 16px;
$border-principal: 1px solid rgb(255, 255, 255);
$width-box-1: 80%;
$font-family-sans-serif: arial, helvetica, sans-serif;